* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(92, 7, 7);
  background-image: url("images/tree-no-background.png");
  background-size: 10%;
  z-index: -1;
  overflow: hidden;
}

/* SNOW */

.snow,
.snow:after,
.snow:before {
  position: absolute;
  height: 1900px;

  top: -650px;
  left: 0;
  right: 0;
  bottom: 0px;

  background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff, transparent);
  background-size: 650px 650px;

  animation: snowFall 6s linear;
  animation-iteration-count: infinite;
}
.snow:before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-direction: reverse;
  animation-duration: 12s;
}
.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 9s;
}

@keyframes snowFall {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(650px);
  }
}

/* TREE */

.container {
  perspective: 1500px;
  height: 870px;
}
.container * {
  transform-style: preserve-3d;
}

@media only screen and (max-width: 1500px) {
  .container {
    padding-top: 2%;
  }
}

.tree {
  --width: 80vmin;
  --gap: 1.5vmin;
  --columns: 14;
  width: var(--width);
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
  --box-size: calc(
    ((var(--width) - (var(--columns) - 1) * var(--gap)) / 14) * 2 + var(--gap)
  );
  /* counter-reset: days 0; */
  counter-reset: days 25;
  direction: rtl;

  /* centering tree */
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.tree > .box {
  grid-column: var(--gcs, auto) / span 2;
  display: grid;
  outline: 1px solid transparent;
  /* counter-increment: days 1; */
  counter-increment: days -1;
}

.tree > .box:nth-child(1) {
  --gcs: 7;
}
.tree > .box:nth-child(2) {
  --gcs: 6;
}
.tree > .box:nth-child(4) {
  --gcs: 5;
}
.tree > .box:nth-child(7) {
  --gcs: 4;
}
.tree > .box:nth-child(11) {
  --gcs: 3;
}
.tree > .box:nth-child(16) {
  --gcs: 2;
}
.tree > .box:nth-child(22) {
  --gcs: 5;
}

/* sides */
.tree > .box > p {
  grid-area: 1/1;
  display: grid;
  background-color: var(--wrap);
  --ribbon-grad: transparent 30%, var(--ribbon) 30% 37%, var(--wrap) 37% 38%,
    var(--ribbon) 38% 62%, var(--wrap) 62% 63%, var(--ribbon) 63% 70%,
    transparent 70%;
  background-image: linear-gradient(var(--l1, transparent) 100%, transparent 0),
    linear-gradient(90deg, var(--ribbon-grad)),
    linear-gradient(0deg, var(--ribbon-grad)),
    repeating-linear-gradient(
      90deg,
      transparent 0 3%,
      rgb(0 0 0 / 0.125) 3% 5%,
      transparent 5% 8%
    );
  --transform: rotateY(var(--ry, 0deg)) rotateX(var(--rx, 0deg))
    translateZ(calc(var(--box-size) * 0.5));
  transform: var(--transform);
}

.tree > .box > p:nth-child(2) {
  --ry: 180deg;
  --l2: 0.7;
  --l1: rgb(0 0 0 / 0.25);
} /* back */
.tree > .box > p:nth-child(3) {
  --ry: -90deg;
  --l2: 0.5;
  --l1: rgb(0 0 0 / 0.125);
} /* left */
.tree > .box > p:nth-child(4) {
  --ry: 90deg;
  --l2: 0.5;
  --l1: rgb(255 255 255 / 0.125);
} /* right */
.tree > .box > p:nth-child(5) {
  --rx: 90deg;
  --l2: 0.6;
  --l1: rgb(255 255 255 / 0.25);
} /* top */
.tree > .box > p:nth-child(6) {
  --rx: -90deg;
  --l2: 0.6;
  --l1: rgb(0 0 0 / 0.25);
} /* bottom */

/* front */
.tree > .box > p:nth-child(1) {
  transform-origin: left;
  transition: transform 500ms ease;
  cursor: pointer;
}
.tree > .box:focus > p:nth-child(1) {
  transform: var(--transform) rotateY(-90deg);
}
.tree > .box > p:nth-child(1)::after {
  content: counter(days);
  grid-area: 1/1;
  place-self: center;

  display: grid;
  place-items: center;
  width: 5vmin;
  aspect-ratio: 1;
  border-radius: 70%;
  background-color: var(--wrap);

  font-size: 3vmin;
  font-family: system-ui, sans-serif;
  color: rgb(198, 198, 77);
  font-weight: bolder;
}

/* wrappings */
.tree > .box:nth-child(1) {
  --wrap: rgb(74, 141, 62);
  --ribbon: rgb(200, 200, 76);
}
.tree > .box:nth-child(2) {
  --wrap: rgb(65, 123, 55);
}
.tree > .box:nth-child(3) {
  --wrap: rgb(65, 123, 55);
  --ribbon: rgb(84, 191, 175);
}
.tree > .box:nth-child(4) {
  --wrap: rgb(30, 103, 30);
  --ribbon: rgb(208, 68, 26);
}
.tree > .box:nth-child(5) {
  --wrap: rgb(30, 103, 30);
}
.tree > .box:nth-child(6) {
  --wrap: rgb(30, 103, 30);
}
.tree > .box:nth-child(7) {
  --wrap: rgb(17, 79, 17);
}
.tree > .box:nth-child(8) {
  --wrap: rgb(17, 79, 17);
}
.tree > .box:nth-child(9) {
  --wrap: rgb(17, 79, 17);
  --ribbon: rgb(92, 87, 189);
}
.tree > .box:nth-child(10) {
  --wrap: rgb(17, 79, 17);
}
.tree > .box:nth-child(11) {
  --wrap: rgb(9, 79, 9);
  --ribbon: rgb(91, 171, 159);
}
.tree > .box:nth-child(12) {
  --wrap: rgb(9, 79, 9);
}
.tree > .box:nth-child(13) {
  --wrap: rgb(9, 79, 9);
  --ribbon: rgb(208, 68, 26);
}
.tree > .box:nth-child(14) {
  --wrap: rgb(9, 79, 9);
}
.tree > .box:nth-child(15) {
  --wrap: rgb(9, 79, 9);
}
.tree > .box:nth-child(16) {
  --wrap: rgb(3, 67, 3);
}
.tree > .box:nth-child(17) {
  --wrap: rgb(3, 67, 3);
  --ribbon: rgb(196, 109, 209);
}
.tree > .box:nth-child(18) {
  --wrap: rgb(3, 67, 3);
}
.tree > .box:nth-child(19) {
  --wrap: rgb(3, 67, 3);
}
.tree > .box:nth-child(20) {
  --wrap: rgb(3, 67, 3);
  --ribbon: rgb(91, 171, 159);
}
.tree > .box:nth-child(21) {
  --wrap: rgb(3, 67, 3);
}
.tree > .box:nth-child(22) {
  --wrap: rgb(3, 67, 3);
  --ribbon: rgb(110, 18, 18);
}
.tree > .box:nth-child(23) {
  --wrap: rgb(3, 67, 3);
  --ribbon: rgb(110, 18, 18);
}
.tree > .box:nth-child(24) {
  --wrap: rgb(3, 67, 3);
  --ribbon: rgb(110, 18, 18);
}

/* inside sides*/
.tree > .box > p::before {
  content: "";
  grid-area: 1/1;
  background-color: var(--wrap);
  background-image: linear-gradient(
    rgb(0 0 0 / var(--l2, 0.25)) 105%,
    transparent
  );
  transform: translateZ(-0.1px);
}

/* content */
.tree > .box::before {
  content: "";
  grid-area: 1/1;
  place-self: center;
  width: 75%;
  aspect-ratio: 1;
  background-image: var(--img);
  background-size: contain;
}

/* animations */
.tree > .box:focus::before {
  animation: rotateContent 3s linear infinite;
}
@keyframes rotateContent {
  to {
    transform: rotateY(360deg);
  }
}

/* contents */

.tree > .box:nth-child(1) {
  --img: url(images/acharliebrownchristmas.jpg);
}
.tree > .box:nth-child(2) {
  --img: url(images/mickeysonceuponachristmas.jpeg);
}
.tree > .box:nth-child(3) {
  --img: url(https://cdn-icons-png.flaticon.com/64/2299/2299172.png);
}
.tree > .box:nth-child(4) {
  --img: url(images/howthegrinchsstolechristmas.jpg);
}
.tree > .box:nth-child(5) {
  --img: url(images/themuppetchristmascarol.jpg);
}
.tree > .box:nth-child(6) {
  --img: url(images/elf.jpeg);
}
.tree > .box:nth-child(7) {
  --img: url(images/caspersfirstchristmas.jpeg);
}
.tree > .box:nth-child(8) {
  --img: url(images/achristmascarol.jpeg);
}
.tree > .box:nth-child(9) {
  --img: url(https://cdn-icons-png.flaticon.com/64/2299/2299184.png);
}
.tree > .box:nth-child(10) {
  --img: url(mages/thepolarexpress.jpg);
}
.tree > .box:nth-child(11) {
  --img: url(images/rudolphtherednnosedreindeer.jpeg);
}
.tree > .box:nth-child(12) {
  --img: url(images/miracleon34thstreet.jpeg);
}
.tree > .box:nth-child(13) {
  --img: url(images/loveactually.jpg);
}
.tree > .box:nth-child(14) {
  --img: url(images/batmanreturns.jpeg);
}
.tree > .box:nth-child(15) {
  --img: url(images/fredclaus.jpg);
}
.tree > .box:nth-child(16) {
  --img: url(images/achristmasstory.jpg);
}
.tree > .box:nth-child(17) {
  --img: url(images/christmaswiththekranks.jpg);
}
.tree > .box:nth-child(18) {
  --img: url(images/nationallampoonschristmasvacation.jpeg);
}
.tree > .box:nth-child(19) {
  --img: url(images/thesantaclause.jpg);
}
.tree > .box:nth-child(20) {
  --img: url(images/chroniclesofnarnia.jpg);
}
.tree > .box:nth-child(21) {
  --img: url(https://cdn-icons-png.flaticon.com/64/290/290441.png);
}
.tree > .box:nth-child(22) {
  --img: url(images/nightmarebeforechristmas.jpg);
}
.tree > .box:nth-child(23) {
  --img: url(https://cdn-icons-png.flaticon.com/64/614/614105.png);
}
.tree > .box:nth-child(24) {
  --img: url(images/homealone.jpeg);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f1d4b3;
  display: block;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;

  animation-name: zoom;
  animation-duration: 0.6s;

  overflow: hidden;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1000px) {
  .modal-content {
    width: 100%;
    overflow: scroll;
  }
}

.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalMessage {
  display: none;
}

#modalMovie {
  display: none;
}
#poster {
  float: right;
  width: 300px;
  position: relative;
  padding: 1%;
  padding-top: 3%;
  margin-right: 2%;
}
#title,
p,
#description {
  font-family: "Lucida Console", Courier, monospace;
  color: rgb(18, 61, 42);
  margin-left: 2%;
}
#title {
  font-size: 65px;
  word-spacing: -20px;
  line-height: 0.9;
}
#year,
#rate,
#genre,
#description {
  font-size: larger;
}
#trailer {
  margin-left: 2%;
  width: 550px;
  height: 350px;
}

#modalActivity {
  display: none;
  background-color: rgb(188, 232, 240);
  font-family: Tahoma, sans-serif;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 5%;

  overflow: hidden;
}
#breakHeading {
  text-align: center;
  font-size: 45px;
}
#breakHeading2 {
  text-align: center;
  font-size: 30px;
}
#activityImage {
  float: right;
  width: 400px;
  position: relative;
  padding: 1%;
  margin-top: 23%;
  margin-right: 2%;
  margin-left: 2%;
}
#breakDescription {
  margin-left: 5%;
  font-size: 22px;
  color: #000;
}

.link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.link:hover {
  font-size: larger;
  color: rgb(88, 19, 30);
}

/* MOVIES & ACTIVITIES */

#movie,
#notMovie {
  display: none;
}

/* PAGE LOADER */

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#loaderText {
  color: white;
  font-size: x-large;
  font-weight: bold;
  width: 100px;

  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
